<%- include('header.ejs', { page: 'contact-list' }) %>
    <link rel="stylesheet" href="/css/contact-list-styles.css">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class=" panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-5 col-xs-12">
                                <h4 class="title">User Registration <span>List</span></h4>
                            </div>
                            <div class="col-sm-7 col-xs-12 text-right">
                                <div class="btn_group">
                                    <span class="label label-danger">Filter:</span>
                                    <button type="button" class="btn btn-warning" title="Blocked"><i
                                            class="fa fa-ban"></i></button>
                                    <button type="button" class="btn btn-success" title="Active"><i
                                            class="fa fa-check-square"></i></button>
                                </div>
                                <a href="/contact-add" class="btn add-new" target="_blank"><i
                                        class="fa fa-plus-circle"></i>
                                    Add New Contact
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Father Name</th>
                                    <th>Contact No</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <!-- <th>Country</th>
                                    <th>Address</th> -->
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%var sno=1%>
                                    <%contacts.forEach(element=>{%>
                                        <tr>
                                            <td scope="col">
                                                <%=sno++%>
                                            </td>
                                            <td>
                                                <div class="user_icon">
                                                    <img class="contact-img" src="/uploads/<%=element.profileImage%>"
                                                        alt="">

                                                </div>
                                            </td>
                                            <td scope="col">
                                                <%=element.name%>
                                            </td>
                                            <td scope="col">
                                                <%=element.fatherName%>
                                            </td>
                                            <td scope="col">
                                                <%=element.contactNo%>
                                            </td>
                                            <td scope="col">
                                                <%=element.email%>
                                            </td>
                                            <td scope="col">
                                                <%=element.password%>
                                            </td>
                                            <!-- <td scope="col">
                                                <%=element.country%>
                                            </td>
                                            <td scope="col">
                                                <%=element.address%>
                                            </td> -->
                                            <td scope="col">
                                                <%=element.date%>
                                            </td>
                                            <td scope="col">
                                                <% if (element.status) { %>
                                                    <button type="button" class="btn btn-success" title="Active"><i
                                                            class="fa fa-check-square"></i></button>
                                                    <% } else { %>
                                                        <button type="button" class="btn btn-warning" title="Blocked"><i
                                                                class="fa fa-ban"></i></button>
                                                        <% } %>
                                            </td>
                                            <td>
                                                <ul class="action-list">
                                                    <li><button type="button" class="btn btn-warning"><i
                                                                class="fa fa-eye"></i></button></li>
                                                    <li><a href="/admin/contact-update/<%=element._id%>"
                                                            class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                    </li>
                                                    <li><a href="/admin/contact-delete/<%=element._id%>"
                                                            class="btn btn-danger"><i class="fa fa-trash"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <%})%>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <!-- <div class="col col-sm-6 col-xs-8">Showing <b>5</b> out of <b>25</b> entries</div> -->
                            <div class="col-sm-12">
                                <ul class='pagination admin-pagination'>
                                    <% if (currentPage> 1) { %>
                                        <li>
                                            <a href="/admin/contacts?page=<%= currentPage - 1 %>">Previous</a>
                                        </li>
                                        <% } %>

                                            <% if (totalPages> 1) { %>
                                                <% for (let i=1; i <=totalPages; i++) { %>
                                                    <li class="<%= currentPage === i ? 'active' : '' %>">
                                                        <a href="/admin/contacts?page=<%= i %>">
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <% } %>

                                                            <% if (currentPage < totalPages) { %>
                                                                <li><a
                                                                        href="/admin/contacts?page=<%= currentPage + 1 %>">Next</a>
                                                                </li>
                                                                <% } %>
                                </ul>
                                <ul class="pagination visible-xs">
                                    <li><a href="#">
                                        </a>
                                    </li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('footer.ejs')%>